@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .h-center {
    @apply flex flex-col after:content-[''] after:flex-grow before:content-[''] before:flex-grow;
  }

  .bg-full {
    @apply absolute w-full h-full top-0 left-0;
  }


  icon {
    @apply block;
  }
  .icon svg{
    @apply w-full h-full;
  }
}